PORT=3000
CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USER=examhub
DB_PASSWORD=examhub
DB_NAME=examhub_db

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=adminpass
ADMIN_NAME=admin_name
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=8h